Repository wormholelabs-xyz/sui-ptb-resolver, changes with the owners that CODEOWNERS names for each.
All owners: @wormholelabs-xyz/wormhole-labs, @wormholelabs-xyz/frontend-release-team, @wormholelabs-xyz/core

chore: test
  test_commit
Owners: @wormholelabs-xyz/wormhole-labs

chore: update from npm/tsc to bun
  .github/workflows/ci.yml
  .github/workflows/hotfix.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .husky/pre-commit
  bun.lock
  bunfig.toml
  package.json
  pnpm-lock.yaml
  test_commit
Owners: @wormholelabs-xyz/frontend-release-team, @wormholelabs-xyz/wormhole-labs

chore: bump setup-bun v2
  .github/workflows/ci.yml
  .github/workflows/hotfix.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Owners: @wormholelabs-xyz/frontend-release-team

chore: test
  test_commit
Owners: @wormholelabs-xyz/wormhole-labs

chore: update from npm/tsc to bun
  .github/workflows/ci.yml
  .github/workflows/hotfix.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .husky/pre-commit
  bun.lock
  bunfig.toml
  package.json
  pnpm-lock.yaml
  test_commit
Owners: @wormholelabs-xyz/frontend-release-team, @wormholelabs-xyz/wormhole-labs

chore: bump setup-bun v2
  .github/workflows/ci.yml
  .github/workflows/hotfix.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Owners: @wormholelabs-xyz/frontend-release-team

fix: update semantic version
  bun.lock
  package.json
Owners: @wormholelabs-xyz/wormhole-labs

fix: update semantic version
  bun.lock
  package.json
Owners: @wormholelabs-xyz/wormhole-labs

fix: use npx instead of bunx for publish
  .github/workflows/ci.yml
  .github/workflows/hotfix.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  bun.lock
  package.json
Owners: @wormholelabs-xyz/frontend-release-team, @wormholelabs-xyz/wormhole-labs

fix: use npx instead of bunx for publish
  .github/workflows/ci.yml
  .github/workflows/hotfix.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  bun.lock
  package.json
Owners: @wormholelabs-xyz/frontend-release-team, @wormholelabs-xyz/wormhole-labs

fix: remove registry-url to enable OIDC authentication
  .github/workflows/prerelease.yml
Owners: @wormholelabs-xyz/frontend-release-team

refactor: consolidate release workflows into single workflow
  .github/workflows/hotfix.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Owners: @wormholelabs-xyz/frontend-release-team

fix: capture semantic-release output on failure
  .github/workflows/release.yml
Owners: @wormholelabs-xyz/frontend-release-team

fix: capture semantic-release output on failure
  .github/workflows/release.yml
Owners: @wormholelabs-xyz/frontend-release-team

fix: make workflow fail when semantic-release fails
  .github/workflows/release.yml
Owners: @wormholelabs-xyz/frontend-release-team

fix: upgrade semantic-release to v25 for OIDC support
  .github/workflows/release.yml
  bun.lock
  package.json
Owners: @wormholelabs-xyz/frontend-release-team, @wormholelabs-xyz/wormhole-labs

Notes added by 'git notes add'
  7f78485a975625cdf768a3acf01d41672211756d
Owners: @wormholelabs-xyz/wormhole-labs

refactor: remove changelog generation and fix version preview
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc.json
  CHANGELOG.md
Owners: @wormholelabs-xyz/frontend-release-team, @wormholelabs-xyz/core, @wormholelabs-xyz/wormhole-labs

fix: detect non-releasable commits in CI preview
  .github/workflows/ci.yml
Owners: @wormholelabs-xyz/frontend-release-team

fix: detect non-releasable commits in CI preview
  .github/workflows/ci.yml
Owners: @wormholelabs-xyz/frontend-release-team

Notes added by 'git notes add'
  aebbd11b2f6bd0d1d6b9c13dfa317f5287f969a0
Owners: @wormholelabs-xyz/wormhole-labs

feat: sui ptb resolver sdk & example
  config/eslint.config.js
  examples/token_bridge_resolver_sample.ts
  package.json
  src/bcs/converters.ts
  src/bcs/index.ts
  src/bcs/schemas.ts
  src/builder/index.ts
  src/config/constants.ts
  src/config/index.ts
  src/config/networks.ts
  src/core/discovered-data.ts
  src/core/event-parser.ts
  src/core/index.ts
  src/core/sui-ptb-resolver.ts
  src/index.ts
  src/lookups/base.ts
  src/lookups/dynamic-field-by-type.ts
  src/lookups/dynamic-field.ts
  src/lookups/dynamic-object-field.ts
  src/lookups/index.ts
  src/lookups/object-field.ts
  src/lookups/resolver.ts
  src/lookups/table-item.ts
  src/types/bcs.ts
  src/types/events.ts
  src/types/index.ts
  src/types/network.ts
  src/types/resolver.ts
  src/utils/index.ts
  tsconfig.json
Owners: @wormholelabs-xyz/wormhole-labs

feat: sui ptb resolver sdk & example
  config/eslint.config.js
  examples/token_bridge_resolver_sample.ts
  package.json
  src/bcs/converters.ts
  src/bcs/index.ts
  src/bcs/schemas.ts
  src/builder/index.ts
  src/config/constants.ts
  src/config/index.ts
  src/config/networks.ts
  src/core/discovered-data.ts
  src/core/event-parser.ts
  src/core/index.ts
  src/core/sui-ptb-resolver.ts
  src/index.ts
  src/lookups/base.ts
  src/lookups/dynamic-field-by-type.ts
  src/lookups/dynamic-field.ts
  src/lookups/dynamic-object-field.ts
  src/lookups/index.ts
  src/lookups/object-field.ts
  src/lookups/resolver.ts
  src/lookups/table-item.ts
  src/types/bcs.ts
  src/types/events.ts
  src/types/index.ts
  src/types/network.ts
  src/types/resolver.ts
  src/utils/index.ts
  tsconfig.json
Owners: @wormholelabs-xyz/wormhole-labs

fix: build step and validation for BCS types
  src/bcs/schemas.ts
  src/lookups/dynamic-field.ts
Owners: @wormholelabs-xyz/wormhole-labs

fix: build step and validation for BCS types
  src/bcs/schemas.ts
  src/lookups/dynamic-field.ts
Owners: @wormholelabs-xyz/wormhole-labs

Notes added by 'git notes add'
  d8bb218c87384633ade0f26f9b5586b939af6b87
Owners: @wormholelabs-xyz/wormhole-labs

fix: type tag argument resolution
  src/builder/index.ts
Owners: @wormholelabs-xyz/wormhole-labs

fix: type tag argument resolution
  src/builder/index.ts
Owners: @wormholelabs-xyz/wormhole-labs

Notes added by 'git notes add'
  c5420d6e5aa187eb865d978036bdd3115626fda4
Owners: @wormholelabs-xyz/wormhole-labs

chore: adding ptb types module and ci tests for sui
  .github/workflows/ci.yml
  sui_ptb_resolver/.gitignore
  sui_ptb_resolver/Move.lock
  sui_ptb_resolver/Move.toml
  sui_ptb_resolver/README.md
  sui_ptb_resolver/sources/ptb_types.move
  sui_ptb_resolver/tests/builder_pattern_tests.move
  sui_ptb_resolver/tests/builder_types_tests.move
  sui_ptb_resolver/tests/discovered_data_tests.move
  sui_ptb_resolver/tests/lookup_system_tests.move
  sui_ptb_resolver/tests/ptb_types_tests.move
Owners: @wormholelabs-xyz/frontend-release-team, @wormholelabs-xyz/wormhole-labs

chore: adding ptb types module and ci tests for sui
  .github/workflows/ci.yml
  sui_ptb_resolver/.gitignore
  sui_ptb_resolver/Move.lock
  sui_ptb_resolver/Move.toml
  sui_ptb_resolver/README.md
  sui_ptb_resolver/sources/ptb_types.move
  sui_ptb_resolver/tests/builder_pattern_tests.move
  sui_ptb_resolver/tests/builder_types_tests.move
  sui_ptb_resolver/tests/discovered_data_tests.move
  sui_ptb_resolver/tests/lookup_system_tests.move
  sui_ptb_resolver/tests/ptb_types_tests.move
Owners: @wormholelabs-xyz/frontend-release-team, @wormholelabs-xyz/wormhole-labs

docs: sui ptb types updated docs
  LICENSE
  README.md
  sui_ptb_resolver/README.md
Owners: @wormholelabs-xyz/wormhole-labs

docs: sui ptb types updated docs
  LICENSE
  README.md
  sui_ptb_resolver/README.md
Owners: @wormholelabs-xyz/wormhole-labs

chore: add wormhole token bridge resolver for redeem poc
  .github/workflows/ci.yml
  wormhole_token_bridge_resolver/.gitignore
  wormhole_token_bridge_resolver/Move.lock
  wormhole_token_bridge_resolver/Move.toml
  wormhole_token_bridge_resolver/README.md
  wormhole_token_bridge_resolver/sources/setup.move
  wormhole_token_bridge_resolver/sources/state.move
  wormhole_token_bridge_resolver/sources/token_bridge_resolver.move
  wormhole_token_bridge_resolver/sources/version_control.move
  wormhole_token_bridge_resolver/sources/wormhole_token_bridge_resolver.move
  wormhole_token_bridge_resolver/tests/token_bridge_resolver_tests.move
Owners: @wormholelabs-xyz/frontend-release-team, @wormholelabs-xyz/wormhole-labs

chore: add wormhole token bridge resolver for redeem poc
  .github/workflows/ci.yml
  wormhole_token_bridge_resolver/.gitignore
  wormhole_token_bridge_resolver/Move.lock
  wormhole_token_bridge_resolver/Move.toml
  wormhole_token_bridge_resolver/README.md
  wormhole_token_bridge_resolver/sources/setup.move
  wormhole_token_bridge_resolver/sources/state.move
  wormhole_token_bridge_resolver/sources/token_bridge_resolver.move
  wormhole_token_bridge_resolver/sources/version_control.move
  wormhole_token_bridge_resolver/sources/wormhole_token_bridge_resolver.move
  wormhole_token_bridge_resolver/tests/token_bridge_resolver_tests.move
Owners: @wormholelabs-xyz/frontend-release-team, @wormholelabs-xyz/wormhole-labs

docs: add main readme
  README.md
  examples/token_bridge_resolver_sample.ts
Owners: @wormholelabs-xyz/wormhole-labs

docs: add main readme
  README.md
  examples/token_bridge_resolver_sample.ts
Owners: @wormholelabs-xyz/wormhole-labs

chore: modules license and author
  sui_ptb_resolver/Move.toml
  wormhole_token_bridge_resolver/Move.toml
Owners: @wormholelabs-xyz/wormhole-labs

chore: modules license and author
  sui_ptb_resolver/Move.toml
  wormhole_token_bridge_resolver/Move.toml
Owners: @wormholelabs-xyz/wormhole-labs

chore: updated move.lock with addresses
  sui_ptb_resolver/Move.lock
Owners: @wormholelabs-xyz/wormhole-labs

CODEOWNERS:

# CODEOWNERS for @wormholelabs/dev-config
# This file defines who needs to review changes to specific files
# It's a critical security control for our release automation

# Default owners for everything
* @wormholelabs-xyz/wormhole-labs

# GitHub Actions workflows require special review
# These files control our CI/CD and release processes
.github/workflows/* @wormholelabs-xyz/frontend-release-team 

# Package files that affect versioning and dependencies
package.json @wormholelabs-xyz/wormhole-labs
pnpm-lock.yaml @wormholelabs-xyz/wormhole-labs

# Security-sensitive configurations
CODEOWNERS @wormholelabs-xyz/core
.npmrc @wormholelabs-xyz/core
.npmignore @wormholelabs-xyz/core

# Release configuration  
.releaserc.json @wormholelabs-xyz/core
